<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951659670595-r04ng23utppjhgk55o8llf1bpabj5ii8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951659670595-r04ng23utppjhgk55o8llf1bpabj5ii8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>951659670595-60otkfb0jb04mapr04eu4nvq0l1dsao2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArjGNKY3fpcURjRyaaUnMOr1DzaMHRtaY</string>
	<key>GCM_SENDER_ID</key>
	<string>951659670595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SW4H83PDQ7.com.example.corkPadel</string>
	<key>PROJECT_ID</key>
	<string>corkpadel-arena-eb47b</string>
	<key>STORAGE_BUCKET</key>
	<string>corkpadel-arena-eb47b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951659670595:ios:adc5936256a23e90adb8f6</string>
	<key>DATABASE_URL</key>
	<string>https://corkpadel-arena-eb47b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>